<div>
  <div class="leftDiv">
      <h1 id="name" style="float: left"><a routerLink="home">PolluTech</a></h1>
      <img (click)="userLogged=true" style="float: right" src="assets/images/Logo.png">
  </div>
  <div *ngIf="markerClicked" class="centerDiv">
    <p>Quì c'è un allarme?</p>
  </div>
  <div class="rightDiv" *ngIf="!userLogged">
    <nav>
        <a routerLink="login">Sign In</a>
        <a routerLink="signup">Sign Up</a>
    </nav>
  </div>
  <div class="rightDiv" *ngIf="userLogged">
    <nav>
        <a routerLink="profile">Profilo</a>
        <a (click)="logOut()" routerLink="home">Esci</a>
    </nav>
  </div>
</div>

