.leftDiv{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 2%;
}

.rightDiv{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 5%;
}

#name{
    font-family: Arial, Helvetica, sans-serif;
}