#loginContainer{
    position: absolute;
    left: 35%;
    margin-right: -35%;
    width: 30%;
}

.button-primary{
    height: 50px;
    width: 50%;
    background-color: #304269;
    color: white;
}

.input{
    position: absolute;
    left: 10%;
    right: -10%;
    width: 80%;
    height: 30px;
}

.form-field{
    height: 40px;
}

#loginButton{
    text-align: center;
}