#loginContainer{
    position: absolute;
    left: 35%;
    margin-right: -35%;
    width: 30%;
}

.input{
    position: absolute;
    left: 10%;
    width: 85%;
}

.form-field{
    height: 40px;
}

#loginButton{
    text-align: center;
}