#container{
    position: absolute;
    clear: both;
    top: 100px;
    left: 20px;
    right: 20px;
    height: 600px;
    background-color: rgba(217, 232, 245, 0.35);
}
.leftDiv{
    display: inline-block;
    position: relative;
    left: 2%;
    width: 45%;
}

.rightDiv{
    display: inline-block;
    position: relative;
    right: 2%;
    left: 5%;
    width: 45%;
}

#footer{
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    text-indent: 20px;
    background-color: rgba(255, 255, 255, 0.30);
}