<fieldset id="innerContainer">
  <legend><h1>Crea il tuo account!</h1></legend>
  <p>
      <input name="username" formControlName="username" class="input" placeholder="Username">
    </p>
  <p>
    <input name="email" formControlName="email" class="input" placeholder="Nuova Email">
    <input name="email" formControlName="email" class="input" placeholder="Ripeti nuova Email">
  </p>
  <p>
    <input name="password" formControlName="password"
            type="password" class="input" placeholder="Nuova Password">
    <input name="password" formControlName="password"
            type="password" class="input" placeholder="Ripeti nuova Password">
  </p>
  <button class="button-primary"> Sign Up </button>
</fieldset>