<fieldset id="innerContainer">
  <legend><h1>Crea il tuo account!</h1></legend>
  <p>
    <input name="firstname" formControlName="firstname" class="input" placeholder="First Name">
    <input name="lastname" formControlName="lastname" class="input" placeholder="Last Name">
  </p>
  <p>
    <input name="email" formControlName="email" class="input" placeholder="Email">
    <input name="email" formControlName="email" class="input" placeholder="Repeat Email">
  </p>
  <p>
    <input name="pwd" formControlName="password"
            type="pwd" class="input" placeholder="Password">
    <input name="pwd" formControlName="password"
            type="pwd" class="input" placeholder="Repeat Password">
  </p>
  <button class="button-primary"> Sign Up </button>
</fieldset>
