<form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)">
  <fieldset id="innerContainer">
    <legend>
      <h1>{{firstname}} {{lastname}}</h1>
        <h2 *ngIf="updateOk">Utente aggiornato con successo!</h2>
    </legend>
    <table>
      <tr>
        <td>
          La tua email: 
        </td>
        <td colspan="2" style="padding: 10px;">
          {{userEmail}}
        </td>
      </tr>
      <tr>
        <td>Cambia password</td>
        <td><input type="password" placeholder="New password" required 
            [(ngModel)]="password" name="password" class="input"
            #pickedPassword="ngModel"></td>
        <td><input type="password" placeholder="Repeat new password" required 
            [(ngModel)]="password2" name="password2" class="input" 
            #pickedpassword2="ngModel"></td>
        <td *ngIf="password != password2"> Le password non coincidono </td>
      </tr>
    </table>
    <br>
    <button type="submit" class="button-primary" [disabled]="!profileForm.form.valid"> Invia! </button>
  </fieldset>
</form>
