<form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)">
  <fieldset id="innerContainer">
    <legend>
      <h1>{{firstame}} {{lastname}}</h1>
      <h2 *ngIf="errorUpdate">Errore: Utente già presente</h2>
        <h2 *ngIf="updateOk">Utente aggiornato con successo!</h2>
    </legend>
    <table>
      <tr>
        <td>Change Email</td>
        <td><input type="text" placeholder="New email" required
            [(ngModel)]="email" name="email" class="input"  
            #pickedEmail="ngModel"></td>
        <td><input type="text" placeholder="Repeat new email" required
            [(ngModel)]="email2" name="email" class="input" 
            #pickedEmail2="ngModel"></td>
        <td *ngIf="email != email2">
          Error
        </td>
      </tr>
      <tr>
        <td>Change password</td>
        <td><input type="password" placeholder="New password" required 
            [(ngModel)]="password" name="password" class="input"
            #pickedPassword="ngModel"></td>
        <td><input type="password" placeholder="Repeat new password" required 
            [(ngModel)]="password2" name="password2" class="input" 
            #pickedpassword2="ngModel"></td>
        <td *ngIf="password != password2">
          Error
        </td>
      </tr>
    </table>
    <br>
    <button type="submit" class="button-primary" [disabled]="!profileForm.form.valid"> Submit </button>
  </fieldset>
</form>

