p{
    text-align: center;
}
h1 {
    text-align: center;
}
#profileButton{
    position: absolute;
    left: 42%;
    right: -40%;
    height: 50px;
    width: 15%;
    background-color: #304269;
    color: white;
}
.input{
    width: 200px;
    height: 30px;
}