<div class="leftDiv" id="map">
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="41.87194" [longitude]="12.56738" [zoom]="6" >
        <agm-marker
            *ngFor="let m of markers;"
            (markerClick)="clickedMarker(m.drillIdentifier)"
            [label]="m.drillIdentifier"
            [latitude]="m.lat"
            [longitude]="m.lng">
            <agm-info-window *ngIf="loggedUser">
            <div class="form-buttons">
                <button *ngIf="markerFavorities!=m.drillIdentifier"
                        class="button-secondary"
                        (click)="addFavorities(m.drillIdentifier)">Attiva avvisi
                </button>
                <button *ngIf="markerFavorities==m.drillIdentifier"
                        class="button-secondary"
                        (click)="removeFavorities(m.drillIdentifier)">Disattiva avvisi
                </button>
            </div>
        </agm-info-window>
        </agm-marker>
    </agm-map>
</div>
<div *ngIf="markerClicked" class="rightDiv">
    <fieldset>
        <legend><h2>Ultimi rilevamenti:</h2></legend>
        <p>Sonda: {{markerID}}</p>
        <div class="measurementDisplay">
            <table >
                <thead>
                    <tr>
                        <td>Data misurazione: </td>
                        <td>Nome inquinante: </td>
                        <td>Quantità: </td>
                    </tr>
                    <hr align=”left” size=”1″ width=”100%″ noshade>
                </thead>
                <tbody *ngFor="let m of measure" id="tableBody">
                    <tr *ngIf="m.quantityMeasured>m.pollutantMonitored.maximumThreshold" id="rowAlert">
                        <td> {{m.measurementDate}} </td>
                        <td> {{m.pollutantMonitored.pollutantName}} </td>
                        <td> {{m.quantityMeasured}} mg/m3 </td>
                        <!-- <img id="alertImg" src="assets/images/alert.png"> -->
                    </tr>
                    <tr *ngIf="m.quantityMeasured<=m.pollutantMonitored.maximumThreshold">
                        <td> {{m.measurementDate}} </td>
                        <td> {{m.pollutantMonitored.pollutantName}} </td>
                        <td> {{m.quantityMeasured}} mg/m3 </td>
                    </tr>
                    <!-- <p>Quantità massima: {{m.pollutantMonitored.maximumThreshold}}</p> -->
                </tbody>
            </table>
        </div>
    </fieldset>
    <div>
        <fieldset>
            <legend><h2>Cerca per data:</h2></legend>
            <div class="leftDiv"><p>Enter a date before 1980-01-01:</p>
            <input type="datetime-local" name="fromDate" max="1979-12-31" class="calendar"><br></div>
            <div class="rightDiv"><p>Enter a date after 2000-01-01:</p>
            <input type="datetime-local" name="toDate" min="2000-01-02" class="calendar"><br><br></div>
            <div id="center"><button class="button-primary">Cerca</button></div>
        </fieldset>
    </div>

    <div *ngIf="sondaAdded">
        <p> Hai attivato l'avviso per la sonda {{markerFavorities}} </p>
    </div>
    <div *ngIf="sondaRemoved">
        <p> Hai disattivato l'avviso per la sonda </p>
    </div>

</div>