.leftDiv{
    display: inline-block;
    position: relative;
    border: 25px solid #9292922a;
    border-top-left-radius: 26px 35px;
    border-top-right-radius: 26px 35px;
    border-bottom-left-radius: 26px 35px;
    border-bottom-right-radius: 26px 35px;
    left: 2%;
    width: 45%;
    top: 5%;
}

.rightDiv{
    display: inline-block;
    position: relative;
    top: -400px;
    right: 2%;
    left: 5%;
    width: 45%;
    top: 2%;
    vertical-align: top;
}

agm-map {
    position: relative;
    top: 0px;
    height: 100%;
}
.measurementDisplay{
    height: 200px;
    overflow: scroll;
}