.leftDiv{
    display: inline-block;
    position: relative;
    left: 2%;
    width: 45%;
    top: 5%;
}

.rightDiv{
    display: inline-block;
    position: relative;
    right: 2%;
    left: 5%;
    width: 45%;
    top: 5%;
    vertical-align: top;
}

agm-map {
    position: relative;
    top: 0px;
    height: 100%;
}

.measurementDisplay{
    height: 200px;
    overflow: scroll;
}

#map{
    border: 20px solid #9292922a;
    border-top-left-radius: 26px 35px;
    border-top-right-radius: 26px 35px;
    border-bottom-left-radius: 26px 35px;
    border-bottom-right-radius: 26px 35px;
    height: 90%;
}

#alertImg{
    height: 20px;
    width: 20px;
}

#rowAlert{
    background-color: rgb(255, 241, 119);
}

.tableResults{
    width: 100%;
    border-collapse: collapse;
    
}
.tableResults td{
    border: 1px solid #00000070;
    padding: 8px;
}
