<div class="leftDiv" id="map">
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="41.87194" [longitude]="12.56738" [zoom]="6" >
        <agm-marker
            *ngFor="let m of markers;"
            (markerClick)="clickedMarker(m.drillIdentifier)"
            [latitude]="m.lat"
            [longitude]="m.lng">
            <agm-info-window>
                <div class="form-buttons">
                    <button *ngIf="markerFavorities!=m.drillIdentifier"
                            class="button-secondary"
                            (click)="addFavorities(m.drillIdentifier)">Attiva avvisi
                    </button>
                    <p *ngIf="markerFavorities==m.drillIdentifier"
                    >Avvisi attivati
                    </p>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>
<div *ngIf="!markerClicked && !loggedUser" class="rightDiv">
    <h1>
        Clicca su una sonda per visualizzarne gli ultimi rilevamenti!
    </h1>
</div>
<div *ngIf="markerClicked || loggedUser" class="rightDiv">
    <fieldset>
        <legend id="center"><h2>Ultimi rilevamenti:</h2></legend>
           <div class="measurementDisplay">
            <table class="tableResults">
                <thead>
                    <tr>
                        <td>Data misurazione: </td>
                        <td>Nome inquinante: </td>
                        <td>Quantità: </td>
                    </tr>
                </thead>
                <br>
                <tbody *ngFor="let m of measure">
                    <tr *ngIf="m.quantityMeasured>m.pollutantMonitored.maximumThreshold" 
                        id="rowAlert">
                        <td> {{m.measurementDate}} </td>
                        <td> {{m.pollutantMonitored.pollutantName}}
                            <img id="alertImg" src="assets/images/alert.png"> </td>
                        <td> {{m.quantityMeasured}} mg/m3 </td>
                    </tr>
                    <tr *ngIf="m.quantityMeasured<=m.pollutantMonitored.maximumThreshold">
                        <td> {{m.measurementDate}} </td>
                        <td> {{m.pollutantMonitored.pollutantName}} </td>
                        <td> {{m.quantityMeasured}} mg/m3 </td>
                    </tr>
                    <!-- <p>Quantità massima: {{m.pollutantMonitored.maximumThreshold}}</p> -->
                </tbody>
            </table>
        </div>
    </fieldset>

    <div>
        <form #dateForm="ngForm" (ngSubmit)="onSubmit(dateForm)">
        <fieldset>
            <legend id="center"><h2>Cerca per data:</h2></legend>
            <div class="leftDiv"><p>Enter a date before 1980-01-01:</p>
                <mat-form-field>
                        <input matInput [matDatepicker]="myDatepickerfrom"
                        [(ngModel)]="datefrom" [min]="mindate" [max]="currentDate" name="datefrom" >
                        <mat-datepicker-toggle matSuffix [for]="myDatepickerfrom"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepickerfrom></mat-datepicker>
                      </mat-form-field>
                      <br>
            </div>
            <div class="rightDiv"><p>Enter a date after 2000-01-01:</p>
                <mat-form-field>
                        <input matInput [min]="datefrom" [max]="currentDate" [matDatepicker]="myDatepickerto"
                        [(ngModel)]="dateto" name="dateto" >
                        <mat-datepicker-toggle matSuffix [for]="myDatepickerto"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepickerto></mat-datepicker>
                      </mat-form-field>
                <br><br><br>
            </div>
            <div id="center">
                <button type="submit" class="button-primary" [disabled]="false">Search</button>
            </div>
        </fieldset>
        </form>
    </div>
    

</div>