<div class="leftDiv" style="height: 90%">
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="41.87194" [longitude]="12.56738" [zoom]="6">
        <agm-marker
            *ngFor="let m of markers;"
            (markerClick)="clickedMarker(m.ID)"
            [title]="m.ID"
            [latitude]="m.lat"
            [longitude]="m.lng">
            <agm-info-window>
            <div class="form-buttons">
                <p>{{m.ID}}</p>
                <button class="button-secondary"
                        (click)="add()">Attiva avvisi
                </button>
            </div>
        </agm-info-window>
        </agm-marker>
        
    </agm-map>
</div>
<div *ngIf="markerClicked" class="rightDiv">
    <h2>Ultimi rilevamenti:</h2>
    <p>roba</p>
</div>
